.contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form{
    display: flex;
    max-height: 45rem;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    gap: 1rem;
    padding: 10rem;
}

.kontak{
    text-align: center;
}

.form-left{
    max-width: 30rem;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 20px;
}

form {
    max-width:30rem; 
    margin:auto; 
    padding: 3rem;
} 

.title h1{
    text-align: center;
    padding: 50px;
    color: #000000;
    font-size: 2em;
}

.feedback-input {
    color:black;
    
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #f7f7f7;
    border:2px solid #000000;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #ffffff8c; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: transparent;
    border-radius:5px;
    border:2px solid #000000;
    cursor:pointer;
    color:#000000;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { 
    border:2px solid #f7f7f7;
    color: #000000;
}

.form-right{
    text-align: center;
    max-width: 30rem;
    
}

.form-right h2{
    font-size: 2em;
    padding-bottom: 10rem;
    color: #000000;
}

@media screen and (max-width: 570px){
    .form{
        flex-direction: column-reverse;
        gap: 1px;
        padding: 10px;
        height: 100%;
    }

    .form-right{
        padding: 2rem;
    }
    .form-right h2{
        font-size: 1.5em;
        padding-bottom: 0;
    }

    .title h1{
        text-align: center;
        padding: 50px;
        color: #000000;
        font-size: 1.2em;
    }

    [type="submit"] {
        font-weight:100;
        font-size: 1em;
      }

      .feedback-input{
        font-size: 1em;
      }

      .form-left{
        width: 25rem;
      }
}